@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    padding: 0px;
    margin: 0px;
    outline: none;
    font-family:'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 22px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color: #41002d;
}

input {
    margin: 2px;
    border: none;
    border-radius: 3px;
}

input[type=text] {
    height: 40px;
    width: calc(100% - 4px);
}

input[type=button] {
    width: 100px;
    height: 50px;  
    transition: ease 0.2s;  
    cursor: pointer;
}

div#calculadora {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.473) ;
}

div#calculadora div{    
    display: flex;
}

div#calculadora div input:nth-child(4) {
    background-color: rgb(182, 182, 182);
}

div#quarta input:nth-child(1) {
    background-color: #f11a1a;    
}

div#quarta input:nth-child(1), div#calculadora {
    border-bottom-left-radius: 35px;
}

div#quarta input:nth-child(3) {
    background-color: #1a4cf1;
}

div#quarta input:nth-child(4), div#calculadora {
    border-bottom-right-radius: 35px;
}

input[type=button]:hover {
    filter: brightness(50%);
}

input[type=button]:active {
    transform: scale(0.9);
}
